version: '3'

services:

  web:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8010:80"
    volumes:
      - "./docker-compose/web/nginx.conf:/etc/nginx/nginx.conf"
      - "./docker-compose/web/local.ini:/etc/php/7.4/fpm/conf.d/local.ini"
      - ".:/var/www:cached"
